.text {
    font-size: 14px;
  }
  
  .item {
    margin-bottom: 18px;
  }
  
  .clearfix:before,
  .clearfix:after {
    display: table;
    content: "";
  }
  .clearfix:after {
    clear: both;
  }
  
  .box-card {
    width: 350px;
    margin:5px;
    background-color: #acdaf4;
    transition: .3s;
    &:hover{
        background-color: #60abf7;
    }
  }
